<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Anular Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  *ngIf="loanding">
  <div
  style="display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;">
    <ion-spinner>Cargando...</ion-spinner>
  </div>
</ion-content> 
<ion-content class="ion-padding" *ngIf="!loanding" >
  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="floating">Ingrese el código del ticket</ion-label>
      <ion-input
        type="number"
        pattern="\d*"
        [(ngModel)]="noTicket"
      ></ion-input>
    </ion-item>
  </ion-list>
  <ion-button  expand="block">Lectura</ion-button>
  <ion-button (click)="onAnular()" expand="block">Anular</ion-button> 
 
</ion-content>
