<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Resumen de Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loanding">
  <div
    style="
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    "
  >
    <ion-spinner>Buscando...</ion-spinner>
  </div>
</ion-content>
<ion-content class="ion-padding" *ngIf="!loanding">
  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label>Desde</ion-label>
      <ion-datetime [(ngModel)]="from" placeholder="Seleccione fecha inicio"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Hasta</ion-label>
      <ion-datetime [(ngModel)]="to" placeholder="Seleccione fecha final"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Premios</ion-label>
      <ion-checkbox color="primary" (ionChange)="on_change('isAward')" [checked]="isAward" slot="start"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Resumen Final</ion-label>
      <ion-checkbox color="primary" (ionChange)="on_change('isFinalSummary')" [checked]="isFinalSummary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Tickets Ganadores</ion-label>
      <ion-checkbox color="primary" (ionChange)="on_change('isWinnerTicket')" [checked]="isWinnerTicket" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Tickets Nulos</ion-label>
      <ion-checkbox color="primary" (ionChange)="on_change('isNullTicket')" [checked]="isNullTicket" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Tickets Pagados</ion-label>
      <ion-checkbox color="primary" (ionChange)="on_change('isPaidTicket')" [checked]="isPaidTicket" slot="start"></ion-checkbox>
    </ion-item>

  </ion-list>
  <ion-button (click)="onVisualizar()" expand="block">Visualizar</ion-button>
  <ion-button (click)="onVisualizar()" expand="block">Imprimir</ion-button> 
</ion-content>
